#account-view {
  display: flex;
  margin: 0.5em 0;

  .account-view__account {
    background: rgba(206, 206, 206, 0.5);
    border: 1px solid #cecece;
    margin: 0 1em 0 0;
    padding: 0.5em 1em;
    width: calc(100% / 3);
    transition: .1s linear all;
    cursor: pointer;

    &.active {
      background: rgba(206, 206, 206, 1);
    }
  }
}
