<section id="account-view">
  <div class="site-container">
    <div class="account-view__account" *ngFor="let account of accounts">
      <div (click)="displayDetails()" class="account-view__account--overview" [ngClass]="expanded ? 'expanded' : 'hidden'">
        <p><strong>Account Name:</strong> {{account.name}}</p>
        <p><strong>Last Position:</strong> {{account.lastMrkClose}}</p>
      </div>
      <div class="account-view__details" [hidden]="!expanded">
        <p><strong>Account:</strong> {{account.name}}</p><button class="account-view__details--edit" (click)="toogleAccountEdit()">Edit Account Name</button>
        <p><strong>Last Market Close: {{account.lastMrkClose}}</strong></p>
        <p><strong>Current Market Value: {{current}}</strong></p>
      </div>
    </div>
  </div>
</section>

<app-positions [hidden]="!expanded" [accountData]="accountData"></app-positions>
