<section id="account-view">
  <div class="site-container">
    <div class="account-view__account" *ngFor="let account of accounts">
      <p><strong>Account Name:</strong> {{account.name}}</p>
      <p><strong>Last Position:</strong> {{account.close | currency}}</p>
    </div>
    <div class="account-view__details">
      <p><strong>Account:</strong> {{name}}</p><button class="account-view__details--edit" (click)="updateAccount()">Edit Account Name</button>
      <p><strong>Last Market Close: {{close}}</strong></p>
      <p><strong>Current Market Value: {{current}}</strong></p>
    </div>
  </div>
</section>
